img.clear {
    border: none !important;
    box-shadow: none !important;
    background: none  !important;
    filter: drop-shadow(0px 0px 5px white);
}

.fit > img {
    max-width: 200px !important;
    max-height: 200px !important;
}

.twitter {
    color: #0084b4;
}